$page: #000;
$text_on_page: #aaa;

$primary_color: #99AC3A;
$text_on_primary: #fff;

$secondary_color: #909099;
$text_on_secondary: #fff;

$table: #909099;
$table_odd: #909099;
$text_on_table: #fff;

$error: #E90A46;
$text_on_error: #fff;
$warning: #ff8000;
$text_on_warning: #fff;
$checking: #feffae; 
$text_on_checking: #000;


body {
  background-color: $page;
  color: $text_on_page; 
}
h1, h2, a {
  color: $primary_color;
}
table {
  background: $table;
  color: $text_on_table;
}
th {
  background-color: $primary_color;
  color: $text_on_primary;
}
tr.odd {
  background-color: $table;
}
/*Failed classes, errors*/
tr.ftp-403,
tr.ftp-404,
tr.status-1,
tr.status-2,
tr.status-40,
tr.no-pass,
tr.no-text,
tr.error,
.message.fatal {
  background-color: $error;
  color: $text_on_error;
}

/*Warning class, not total error*/
tr.ftp-405,
tr.ftp-409 {
  background-color: $warning;
  color: $text_on_warning;  
}

/*Class to apply while actively ajax checking*/
tr.checking {
  background-color: $checking;
  color: $text_on_checking;

}
tr:hover {
  background: $primary_color;
  color: $text_on_primary;
}

#loading {
  background-color: $secondary_color;
  color: $text_on_secondary;
  border: 10px solid $primary_color;
}
