$page: #827367;
$text_on_page: #827367;

$primary_color: #308576;
$text_on_primary: #F7E8BA;

$secondary_color: #827367;
$text_on_secondary: #000;

$table: #697B85;
$table_odd: #fff;
$text_on_table: #F7E8BA;

body {
  background-color: $page;
  color: $text_on_page; 
}
h1, h2, a {
  color: $text_on_primary;
}
table {
  background: $table;
  color: $text_on_table;
  border: 3px solid $primary_color;
}
th {
  background-color: $primary_color;
  color: $text_on_primary;
}
tr.odd {
  background-color: $table;
}
tr:hover {
  background: $secondary_color;
  color: $text_on_primary;
}
#loading {
  background-color: $page;
  color: $text_on_secondary;
  border: 10px solid $primary_color;
  border-radius: 50px;
}
