$page: #80FFE5;
$text_on_page: #1452b7;

$primary_color: #FFD830;
$text_on_primary: #000;

$secondary_color: #EAFF1F;
$text_on_secondary: #1452b7;

$table: #FFFFFF;
$table_odd: lighten(#80FFE5, 50);
$text_on_table: #000;

body {
  background-color: $page;
  color: $text_on_page; 
}
h1, h2, a {
  color: $text_on_page;
}
table {
  background: $table;
  color: $text_on_table;
  //border: 3px solid $primary_color;
}
th {
  background-color: $secondary_color;
  color: $text_on_secondary;
}
tr.odd {
  background-color: $table;
}
tr:hover {
  background: $primary_color;
  color: $text_on_primary;
}
#loading {
  background-color: $table;
  color: $text_on_page;
  border: 10px solid $secondary_color;
}

/*Failed classes, errors*/
tr.ftp-403,
tr.ftp-404,
tr.status-1,
tr.status-2,
tr.status-40,
tr.no-pass,
tr.no-text,
tr.error,

tr.even.ftp-403,
tr.even.ftp-404,
tr.even.status-1,
tr.even.status-2,
tr.even.status-40,
tr.even.no-pass,
tr.even.no-text,
tr.even.error,

tr.odd.ftp-403,
tr.odd.ftp-404,
tr.odd.status-1,
tr.odd.status-2,
tr.odd.status-40,
tr.odd.no-pass,
tr.odd.no-text,
tr.odd.error,

.message.fatal {
  background-color: #fb215f;
  color: #fff;
}

/*Warning class, not total error*/
tr.ftp-r,
tr.ftp-w,
tr.ftp-409,
tr.even.ftp-r,
tr.even.ftp-w,
tr.even.ftp-409,  
tr.odd.ftp-r,
tr.odd.ftp-w,
tr.odd.ftp-409 {
  background-color: $secondary_color;
  color: $text_on_secondary;  
}

/*Class to apply while actively ajax checking*/
tr.checking,
tr.even.checking,
tr.odd.checking {
  background-color: $page;
  color: #000;
}